{% extends "main/base.html" %} {% load static %} {% block extra_css %}
<script>
  window.onload = function () {
    const chart = new CanvasJS.Chart("chartContainer1", {
      theme: "light2",
      zoomEnabled: true,
      title: {
        text: "Trade History",
      },
      axisY: {
        title: "Daily Close",

      },

      data: [
        {
          type: "line",
          yValueFormatString: "#,###.00 BDT",

          dataPoints: {{ stepcount | safe }},
        },
      ],
    });

    const chart2 = new CanvasJS.Chart("chartContainer2", {
      theme: "light1",
      exportEnabled: true,
      zoomEnabled: true,
      title: {
        text: "{{ tradeCode }}. Stock Price"
      },
      axisY: {
        prefix: "$"
      },
      data: [{
        type: "candlestick",
        yValueFormatString: "#,##0.00 BDT",
        xValueFormatString: "MMM DD, YYYY",
        xValueType: "dateTime",
        dataPoints: {{ candleData|safe }}
      }]
    });
    chart.render();
    chart2.render();

  };
</script>

{% endblock extra_css %} {% block content %}
<div
  class="min-h-screen w-full flex items-center justify-center py-10 px-20 flex-col"
>
  <div class="flex justify-start w-full pt-10 pb-10 font-mono">
    <h1 class="text-3xl">
      Detailed info of:
      <span class="text-blue-600 font-semibold">{{ tradeCode }}</span>
    </h1>
  </div>
  <div class="flex w-full gap-20">
    <div
      id="chartContainer1"
      style="width: 50%; height: 400px"
      class="my-10"
    ></div>
    <div
      id="chartContainer2"
      style="width: 50%; height: 400px"
      class="my-10"
    ></div>
  </div>
  <div class="container w-3/4 pt-10">
    <table id="datatable" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Trade Code</th>
          <th>High</th>
          <th>Low</th>
          <th>Open</th>
          <th>Close</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datas %}
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.trade_code }}</td>
          <td>{{ data.high }}</td>
          <td>{{ data.low }}</td>
          <td>{{ data.open }}</td>
          <td>{{ data.close }}</td>
          <td>{{ data.volume }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
