{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <nav class="h-20 bg-gray-400 flex items-center justify-center">
      <ul class="flex gap-5 justify-center">
        <li
          class="hover:bg-slate-200 px-3 py-2 rounded-lg hover:transition hover:cursor-pointer duration-75 font-medium"
        >
          <a>Home</a>
        </li>
        <li
          class="hover:bg-slate-200 px-3 py-2 rounded-lg hover:transition hover:cursor-pointer duration-75 font-medium"
        >
          <a>About</a>
        </li>
        <li
          class="hover:bg-slate-200 px-3 py-2 rounded-lg hover:transition hover:cursor-pointer duration-75 font-medium"
        >
          <a>Contact</a>
        </li>
      </ul>
    </nav>
    <section class="container min-h-screen"></section>
    <footer>
      <div class="h-20 bg-gray-400 flex items-center justify-center">
        <p class="text-center font-semibold font-mono">© 2023</p>
      </div>
    </footer>
  </body>
</html>
